.no-focus *{
    outline:none;
}
.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

.enabled {
    cursor: pointer;
    opacity: 1;
}
/*intro-content CSS Start */
.intro-content {
    float: left;
    padding-bottom: 10px;
    margin: 0 10%;
}



#climate-deal {
    width: 50%;
    float: left;
    margin: 22px 2%;
}

.intro-content .intro-p p {
    margin-top: 0px;
}

.question_txt p {
    display: -webkit-inline-box;
    padding-left: 10px;
}

.question-band .qheight {
    margin-top: 20px;
}

/*intro-content CSS End */



/*Question Css*/
.questionband {
    float: left;
}

    .questionband input[type='text'], .questionband input[type='number'] {
        text-align: center;
        width: 100px;
    }

.previous, .next {
    padding-bottom: 15px;
}

.question_icon {
    float: left;
    width: 60px;
    margin-top: 10px;
}

    .question_icon span {
        border-radius: 30px;
        background: #007AA2;
        color: #FFF;
        font-size: 20px;
        padding: 12px 22px 15px 22px;
    }

.question_txt {
    margin-left: 60px;
    cursor: pointer;
}

.optionselected {
    background-color:#f1f1f1;
     font-weight : bold;
}

    .optionselected span {
        background-color:#003058;
        color: #F9FF00;
    }
/*Question Css*/
.greenspan {
    color: #01662C;
    font-weight: bold;
}

.redspan {
    color: #B22222;
    font-weight: bold;
}
.wrapperimage {
    width: 798px;
    height: auto;
    position: relative;
    display:flexbox;
    justify-content:center
}

.activityimg {
    width: 796px;
    border:1px solid #cccccc;
}

.activityContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0 10px 0;
    background: #F0F0F0;
    float: left;
    width: 100%;
}

.input-url {
    width: 335px;
    height: 19px;
    position: absolute;
    top: 137px;
    left: 230px;
    padding-left:5px;
}

.textentryreview {
    width: 367px;
    height: 25px;
    position: absolute;
    top: 170px;
    left: 203px;
    display: none;
    background: #fff;
}


.divHotSpot,.divHotSpotdbl {
    position: absolute;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
}
.divHotSpot:hover,.divHotSpotdbl:hover {
    box-shadow: 0 2px 16px -5px #000;
    opacity: 0.8;
  }
.divreviewsubmit{
    display: flex;
    justify-content: center
}
.activity {
    overflow: auto;
}

#div_feedback {
    display: none;  
    height: auto;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    /* background: #F0F0F0;    */
    width: 100%;
}

.div_fdkcontent {
    margin: 0 10%;
}

.greenspan {
    color: #01662C;
    font-weight: bold;
}

.redspan {
    color: #B22222;
    font-weight: bold;
}
.start-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.hotspotclicked{
    background-color:#33A7C0;
    opacity:0.5
}

.textentryreview1{
    top:135px !important;
}
.textentryreview2{
    top:170px !important;
}
#submitdiv {
    border-radius: 5px;
    padding: 1%;
    text-align: center;
}
.cchkitem{
    background-image: url("../assets/images/cchkitem.png");
    background-repeat: no-repeat;
    width: 21px;
    height: 19px;
    float: left;
    margin-left:-18px; 
}
.icchkitem{
    background-image: url("../assets/images/icchkitem.png");
    background-repeat: no-repeat;
    width: 21px;
    height: 19px;
    float: left;
    margin-left:-18px; 
    margin-top: 6px;
}

/* width */
#originalelementdiv::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  #originalelementdiv::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  #originalelementdiv::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  #originalelementdiv::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  /*assessment css */
  .questioninnerwrapper .inputcircle,#Summary .inputcircle{
    position: relative;
        padding-left: 6px;
        cursor: pointer;
        color: gray;
        left: -22px;
    }
    

    .questioninnerwrapper .inputcircle:after,#Summary .inputcircle:after {
        content: '';
        width: 23px;
        height: 23px;
        border: 2px solid;
        position: absolute;
        left: 0px;
        margin-top: 0%;
        border-radius: 100%;
        -ms-border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        box-sizing: border-box;
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    
    .assessmentradio:checked + .inpputtext .inputcircle:before ,#Summary input[type="radio"]:checked + .inpputtext .inputcircle:before  {
        content: '';   
        height: 15px;
        width: 15px;
        position: absolute;
        background: #047a9c;
        left: 4px;
        margin-top: 4px;
        border-radius: 100%;
        -ms-border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
    }
    
    .assessmentradio:checked + .inpputtext .inputcircle ,#Summary input[type="radio"]:checked + .inpputtext .inputcircle {
        color: #047a9c;
    }
    
    #questioninnerwrapper .inputcircle , #Summary .inputcircle {
        position: relative;
        padding-left: 6px;
        cursor: pointer;
        color: gray;
        left: -22px;
    }
    .assessmentradio {
        opacity: 0;
    }
    
    .assessmentradio{
    position: absolute;
        margin-left: -10px;
        cursor: pointer;
    }
    .questionfdk{
        display: none;
    }
    .iscorrect{
        position: absolute;
        left: -43px;
    }
    .summaryquestion{
        margin-bottom: 20px;
        float: left;
       
    }
    .summaryoptions{
        min-height: 75px;
        height: auto;
        margin-bottom: 10px;
        width: 100%
    }
    .question-container{
        margin-top: 10px;
        float: left;
        width: 100%;
        background: #F0F0F0;
    }
    .questioninnerwrapper{
        background: #fff;
        margin-top: 40px;
        height: auto;
        overflow: auto;
        padding-bottom: 40px;
        border-radius: 5px;
    }
    #Questioninfo{
        font-weight: bold;
       
    }
    #summaryheading{
        border-top: 1px solid #cdcdcd;
        border-bottom: 1px solid #cdcdcd;
        margin-left: -20px;
        margin-right: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
.intro-content-question:not(.summaryquestion){
    margin: 0 10%;
}

    .submitdiv{
        float: left;
        width: 100%;
        margin-top: 35px;
        margin-bottom: 35px;
       
    }
    #QuetionText{
        margin-top: 20px;
        padding-top: 20px;
        padding-right: 10px;
    }
    .question-band{
        float: left;
        margin-left: 8%;
    position: relative;
    }
   .quetiontext{
       margin-left: 20px;
   }
.questioninnerwrapper .inpputtext , #Summary .inpputtext{
    display: block;
    margin: 5px 0;
}
#Summary .inpputtext{
    display: block;
    margin: 0 0;
}
   .chkbox{
       margin-left: -18px;
   }
  
   .continuebtn {
    margin-bottom: 10px;
    display: flex;
    /* justify-content: center; */
}
#div_feedback{
    padding-bottom: 10px;
}

.computerwrapper{
    position: absolute;
    top: 150px;    
    width: 100%;
}
.computerQuestion{
    max-width: 515px;
    float: left;
}
.shoppingcart{
    float: left;
}
.font14{
    font-size: 14px !important;
}
.questionwrapper{
    padding-left: 20px;
    padding-top: 10px;
}
.shoppingcart {
    line-height:unset;
    line-height: 0.8em !important;
    width: 100%;
}
.questiontabselected{
    background-color: rgb(153, 205, 255);
    border: 3px solid rgb(153,205,255);
}
.questiontab:not(.disabled){
    cursor: pointer;
}
.tabwrapper{
    display: flex;
    justify-content: space-around;
    width: 390px;
    margin-left: 30px;
}
.cartopttext{
    width: 195px;   
    float: left;
    margin-left:5px; 
}
.cartoptprice {
    float: right;
    margin-right: 5px;
}
.divcart{
    width:260px;
    border:1px solid rgb(0, 133, 194);
    height: 435px;
    float: right;
    margin-right: 10px;
}
.cartheading{
    width:100%;
    display: flex;
    justify-content: flex-start;
    background-color:rgb(0, 133, 194); 
    height: 35px;
    align-items: center;
}
.cartheadingtext{
    font-size: 16px;
    font-weight: bold;
    color:white;
}
.cartimage{
    margin-right: 10px;
    margin-left: 5px;
}
.addtocart {
    margin-top:20px;
}
.budgettext{
    color:#0085c3;
    font-weight: bold;
    padding:5px 
}
.cartitem{
    overflow-y: auto;
    height: 310px;
    width: 100%;
    margin-top:-20px;
}
/* width */
.cartitem::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.cartitem::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
.cartitem::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.cartitem::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.cartcomputername{
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    margin-top: 0px;
}
.carttotal{    
    width: 94%;
    border-top: 1px solid #0085c3;
    margin: 10px auto;
    display: flex;
    justify-content: flex-end;
   
}
.carttotaltext{
    color:#0085c3;
    font-weight: bold;
    margin-right: 8px;
  
}
.navtipopen{
    outline:5px solid rgb(153, 205, 255);
}
.tooltipheading{
    font-size: 12px;
    font-weight: bold;
    color:#B22222
}
.toolptipwrapper{
    bottom: -15px;
    position: absolute;
    width: 220px;
    left: 20px;
}
.tooltips{
    display: flex;
    justify-content: space-around;
    margin-top:10px;
}
.tooltipicon{
    cursor: pointer;
}

.tooltiptext{ display:none;position: absolute; width: 380px; background-color: #F0F0F0; font-size: 16px; font-family: 'Open Sans'; color: #000;border-radius: 6px; z-index: 1; transition: opacity .6s; 
    border:2px solid rgb(204, 204, 204);}

.tooltiptext .navtipafter{content: '';position: absolute;bottom: 100%;left: 50%;border-width: 10px;border-style: solid;border-color: transparent transparent rgb(240, 240, 240) transparent;}
.tooltiptext .navtipafterbottom{content: '';position: absolute;left: 50%; margin-left: -10px;border-width: 10px;border-style: solid;border-color:rgb(204, 204, 204) transparent transparent transparent;}
.tooltiptext *,.questiontext  *{
    font-size: 14px !important;
    line-height: 1.3em;
}
.buildcomputer{
    display: none;
}
.buttonwrapper input[type="button"]{
    height: 31px;
}
.buttonwrapper{
    float: left;
    margin-left:10px;
}
.questionoptions{
    float: left;
    margin-left: 10px;
    width: 100%;
}
.carttotalprice{
    float: right;
    margin-right: 3px;
}

/*scroll css for summary page */
/* width */
.reviewSummaryTable::-webkit-scrollbar {
width: 5px;
}

.presentationModeFooter, .ScormReviewFooter {
    display: inline-block;
    background-color: #1a76cb;
    height: 29px;
    width: 100%;
        color: white;
    text-align: center;
}

/* Track */
.reviewSummaryTable::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
.reviewSummaryTable::-webkit-scrollbar-thumb {
background: #888; 
}
.accessibility{
    opacity: 0;
    position: absolute;
}

/* Handle on hover */
.reviewSummaryTable::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.reviewSummaryTable table tr:nth-child(even) td {
    border-bottom: 1px solid rgb(204,204,204);
}
.reviewSummaryTable table tr:last td
{
   border-bottom: 0px;
}
.reviewSummaryTable table tr:nth-child(3) td {
    border-top: 1px solid rgb(204,204,204);
}

/*scroll css for summary page END*/

#checkboxCheckedUnchecked{
    
    top: 3px;
    left: 4px;
    padding-right: 8px;
}
.computercheckbox, .computerradio{
    opacity: 0;
}
img#radioCheckedUnchecked {
    padding-right: 8px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .questioninnerwrapper{
       overflow: visible;
    }
    .questiontext {
        max-width: 475px;
    }
    
}